<footer>
     <p class="desclaimer">საიტი მუშაობს სატესტო რეჟიმში. განთავსებული ნამუშევრები არ წარმოადგენს კომერციულ შეთავაზებას და გამოყენებულია მხოლოდ საიტის ფუნქციონალის საჩვენებლად. ნამუშევრებზე საავტორო უფლებები ეკუთვნით მათ ავტორებს!!</p>
    <div class="footer-up">
        <div class="logo">
            <p class="logo-text">Plankton.ge</p>
        </div>

        <div class="text">ჩვენს გალერეაში 409 მხატვარი და 4354 ნამუშევარია</div>
    </div>


    <div class="footer-middle">
        <div class="ul">
          

            <ul class="service-list">
                <li routerLink="/service-communicate" class="service">თანამშრომლობა და მომსახურეობა</li>
                <li routerLink="" class="service">კატალოგი</li>
                <li routerLink="/arters" class="service">მხატვრები</li>
                <li routerLink="/contact" class="service">კონტაქტი</li>

            </ul>


            <ul class="service-list">
                <li routerLink="/paying-methods" class="service">გადახდის მეთოდები</li>
                <li routerLink="/return" class="service">დაბრუნებისა და მიწოდების პირობები </li>
                <li routerLink="/personal-info" class="service">პერსონალური მონაცემების პოლიტიკა</li>
                <li routerLink="/agreeing" class="service">შეთავაზების შეთანხმება</li>
            </ul>
        </div>

        <div class="subscribe">
            <p class="subs-text">გამოიწერეთ სიახლეები და აქციები Plankton.ge - ისგან</p>
            <div class="email">
                <input class="email-inp" type="email" placeholder="Email">
                <button class="submit-btn">გაგზავნა</button>
            </div>

            <div class="submit-info">
                <input type="checkbox">
                <p class="agree">ვეთანხმები <span class="agree-rules"> კონფიდენციალურობის პოლიტიკის</span> პირობებს</p>
            </div>
        </div>

    </div>

    <ul class="service-list-mobile">
        <li routerLink="/paying-methods" class="service-mobile">გადახდის მეთოდები</li>
        <li routerLink="/return" class="service-mobile">დაბრუნებისა და მიწოდების პირობები </li>
        <li routerLink="/personal-info" class="service-mobile">პერსონალური მონაცემების პოლიტიკა</li>
        <li routerLink="/agreeing" class="service-mobile">შეთავაზების შეთანხმება</li>
    </ul>

    <div class="footer-down"></div>
</footer>