<section class="arters">
    <div class="up-content">
        <p class="title">მხატვრები</p>
        <div class="digits">

            <div class="digits">
                <p class="digit" *ngFor="let d of georgianDigits" (click)="onDigitFilter(d.value)"
                    [class.selected]="selectedDigit === d.value" style="cursor:pointer; user-select:none;">
                    {{ d.label }}
                </p>
            </div>


            <div class="digits">
                <p class="digit" *ngFor="let d of EnglishDigits" (click)="onDigitFilter(d.value)"
                    [class.selected]="selectedDigit === d.value" style="cursor:pointer; user-select:none;">
                    {{ d.label }}
                </p>
            </div>



        </div>

    </div>

    <div class="artists">
        <div *ngFor="let artist of artists" class="each-card">
            <p class="arter-name" [routerLink]="['/eachArter', artist.artist_id]">{{ artist.artist_name }}</p>

            <!-- Big image and main_item -->
            <div [routerLink]="['/product', artist.main_item.id]" class="big-image">
                <img [src]="artist.main_item.image" alt="{{artist.main_item.title}}">
                <div class="product-text">
                    <div class="texts">
                        <p class="art-name">{{artist.main_item.title}}</p>
                        <p class="size">{{artist.main_item.width_cm}} X {{artist.main_item.height_cm}} cm</p>
                        <p class="made-with">{{artist.main_item.material}}</p>
                    </div>
                    <p class="price">{{artist.main_item.price}}$</p>
                </div>
            </div>

            <!-- Loop featured_items correctly -->
            <div class="small-images">
                <div *ngFor="let underImg of artist.featured_items" class="smallImage1"
                    [routerLink]="['/product', underImg.id]">
                    <img [src]="underImg.image" alt="{{underImg.title}}">
                    <div class="product-text">
                        <p class="art-name">{{underImg.title}}</p>
                        <p class="priceSmall">{{underImg.price}}$</p>
                    </div>
                </div>
            </div>
        </div>








































    </div>


    <div *ngIf="noProdFound" class="no-artists-message">
        <p class="no-products">არ არის მხატვრები ამ ასოთი!</p>
    </div>



    <div class="pagination">
        <button *ngIf="currentPage > 1" class="prevPage" (click)="firstPage()" [disabled]="currentPage === 1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M13.5801 5L20.5801 12L13.5801 19M5.58008 5L12.5801 12L5.58008 19" stroke="#F39C4F"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>

        <button *ngIf="currentPage > 1" class="prevPage" (click)="prevPage()" [disabled]="currentPage === 1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M9.28027 5L16.2803 12L9.28027 19" stroke="#F39C4F" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>
        
        <div class="pageNumbers">
            <button *ngFor="let page of getDisplayedPages()" class="pageNumber" (click)="handlePageClick(page)"
                [class.active]="page === currentPage" [disabled]="page === '...'">
                {{ page }}
            </button>
        </div>


        <button class="nextPage" (click)="nextPage()" [disabled]="currentPage === totalPages">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M9.28027 5L16.2803 12L9.28027 19" stroke="#F39C4F" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>


        <button class="nextPage" (click)="lastPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M13.5801 5L20.5801 12L13.5801 19M5.58008 5L12.5801 12L5.58008 19" stroke="#F39C4F"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>

    </div>




</section>