* {
    font-family: 'Noto Sans Georgian', sans-serif;
}

.up-content {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: auto;
    padding: 20px;
    align-items: center;
}

.filter,
.sort {
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 16px;
    border: solid 1px rgba(128, 128, 128, 0.329);
    padding: 10px 36px;
    background: none;
}


.catalog-title {
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 34px;
    font-weight: 500;
    margin-top: -12px;

}




.catalog {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.side-panel {
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
    z-index: 11;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.side-panel.right-panel {
    right: 0;
    left: auto;
    transform: translateX(100%);
}

.side-panel.active {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}


.sort-text {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.line {
    height: 2px;
    margin-top: 16px;
    background-color: rgba(0, 0, 0, 0.365);

    width: 100%;

}

.sorts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

}

.sort-types {
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    color: rgba(0, 0, 0, 0.822);
}

.sort-types:hover {
    background-color: rgba(206, 206, 210, 0.653);
}


.accordions {
    margin-top: 20px;
}


















.accordion-title {



    cursor: pointer;

    transition: 0.3s;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: black;
    font-size: 14px;


    position: relative;


    align-items: center;

    padding: 12px;






}

.accordion-content {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
    display: flex;

    padding: 0 10px;
    gap: 20px;
    flex-direction: column;

}

.img {
    max-width: 200px;
    width: 100%;
    height: 200px;
}

.content-text {
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 18px;
}


.help {
    margin: auto;
    display: flex;
    justify-self: center;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 80px;
    padding-bottom: 20px;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1320px;
    width: 100%;
    margin: auto;
}

.accordion-content.show {
    display: block;
    padding: 20px;
    align-items: center;
}

.accordion-item {
    padding: 8px;
    border: solid 1px rgba(128, 128, 128, 0.258);

}



.w-4 {
    width: 16px;
    height: 16px;
    rotate: 270deg;
    margin-top: -4px;
}





.title-text {
    transition: transform 0.4s ease, margin-left 0.4s ease;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}


.accordion-title svg {
    position: absolute;
    right: 12px;
    top: 50%;

    transform: translateY(-50%) rotate(0deg);
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.accordion-title.centered svg {
    transform: translateY(-50%) rotate(90deg);
    /* optional rotation */
}

.next-stage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comm-text {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Noto Sans Georgian', sans-serif;
    max-width: 900px;
    margin: auto;
}

.price-choose {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-text {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Noto Sans Georgian', sans-serif;
}


.side-panel.left-panel {
    overflow-y: auto;
    height: 100vh;
    /* full height of viewport */
}

.color-cream {
    background-color: #eadaca;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-white {
    background-color: #e7e7e7;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-light-orange {
    background-color: #fcb97d;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-bronze {
    background-color: #cd7f32;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-blue {
    background-color: #8ed4f3;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-yellow {
    background-color: #f3f182;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-green {
    background-color: #73a08a;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-gold {
    background-color: #dfa745;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-brown {
    background-color: #7f6c67;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-red {
    background-color: #a8474b;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-purple {
    background-color: #dbc7fc;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-orange {
    background-color: #e19c57;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-pink {
    background-color: #feb8c3;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-light-green {
    background-color: #86c984;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-silver {
    background-color: #929292;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-gray {
    background-color: #999999;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-navy {
    background-color: #444b5f;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-dark-green {
    background-color: #658d44;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-violet {
    background-color: #835781;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.color-black {
    background-color: #2d2e2c;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}


.color-box {
    display: flex;

    cursor: pointer;
    flex-direction: column;

}

.accordion-content-colors {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;

    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;


}

.color-box {
    border: solid 1px rgba(128, 128, 128, 0.525);
    width: fit-content;
    padding: 10px 30px;
    align-items: center;
    transition: 0.4s ease-in-out;


}

.color-box p {
    text-align: center;
    font-size: 14px;
    max-width: 80px;
    margin-top: 20px;
}

.color-box.active {
    border: 1px solid #67dfefc4;
}

.up-content-mobile {
    display: none;
    align-items: center;

}













































.product-section {
    max-width: 1360px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-card {
    position: relative;
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    padding: 0px 20px;


}

.product-card img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
    display: block;
    height: auto;
    max-height: 600px;
    height: 100%;
    object-fit: contain;
}

.product-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(47, 47, 47, 0.785);
    /* dark overlay */
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.product-card:hover .product-info {
    opacity: 1;
}

.product-info p {
    margin: 5px 0;
    font-family: 'Noto Sans Georgian', sans-serif;
}



.name {
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.price {
    color: rgb(94, 73, 255);
    font-size: 24px;

}






.last-texts {
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: auto;
    padding: 50px;

}

.last-texts p {
    font-family: 'Noto Sans Georgian', sans-serif;
    font-weight: 600;
    font-size: 18px;

}



.product-info p {
    white-space: nowrap;
    /* Force single line */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Add ... when overflow */
    display: block;
    max-width: 100%;
}



.filtering-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.filtering-buttons button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 14px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 1px rgba(128, 128, 128, 0.39);
    border-radius: 6px;

}




.noproductsFound {
    display: flex;
    justify-content: center;
    font-size: 32px;

}




.prevPage,
.nextPage {
    background: none;
    border: none;

}

.prevPage {
    background: none;
    border: none;
}



.prevPage svg {
    rotate: 180deg;
}


.pageNumber {
    background: none;
    border: none;
    font-size: 18px;

}



.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    padding: 8px;
}

.pagination {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  

}

.pagination button {
    margin: 0 8px;
    padding-top: 10px;
}

.pagination button svg {
    margin-top: 4px;
}

.pagination button.active {

    color: #a592ff;
}
















.pageNumbers {
    display: flex;
    align-items: center;
    gap: 16px;
   
}











@media screen and (max-width: 1650px) {
    .accordion-content-colors {

        grid-template-columns: 1fr 1fr 1fr 1fr;


    }
}


@media screen and (max-width: 1320px) {
    .accordion-content-colors {

        grid-template-columns: 1fr 1fr 1fr;


    }
}

@media screen and (max-width: 1080px) {
    .accordion-content-colors {
        place-content: center;
        place-items: center;
        place-self: center;
        grid-template-columns: 1fr 1fr;


    }

    .product-section {
        grid-template-columns: 1fr 1fr;
    }

}





@media screen and (max-width: 900px) {

    .pagination {
   
    gap: 8px;

}

    .filtering-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    


    
}


@media screen and (max-width: 630px) {
    .pageNumbers {
        gap: 8px;
    }

    .pagination {
        gap: 10px;
    }

 .buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
       
    }

    .accordion-content-colors {
        place-content: center;
        place-items: center;
        place-self: center;
        grid-template-columns: 1fr 1fr 1fr;


    }

    .side-panel {
        height: 100%;
        width: 100%;
    }

   

    .up-content {
        display: none;
    }

    .up-content-mobile {
        display: flex;
        justify-content: space-between;
        max-width: 1380px;
        margin: auto;
        padding: 20px;
        align-items: center;
        flex-direction: column;
    }

    .product-section {
        place-items: center;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {

 .pageNumbers {
        gap: 4px;
    }

    .pagination {
        gap: 5px;
    }


    .accordion-content-colors {
        place-content: center;
        place-items: center;
        place-self: center;
        grid-template-columns: 1fr 1fr;


    }



    .product-info {
        font-size: 12px;
    }

}


@media screen and (max-width: 400px) {
    .buttons {
        flex-direction: column;
    }

    .pageNumbers {
        gap: 0px;
    }

    .pagination {
        gap: 0px;
    }



    .accordion-content-colors {
        place-content: center;
        place-items: center;
        place-self: center;
        grid-template-columns: 1fr;


    }

    .name {
        font-size: 12px;
    }

    .product-info {
        font-size: 10px;
    }


}



@media screen and (max-width: 360px) {

    .pagination {
        zoom: .85;
    }

    .name {
        font-size: 10px;
    }

    .product-info {
        font-size: 8px;
    }
}