<section class="catalog">
    <div class="overlay" [class.active]="isFilterOpen || isSortOpen" (click)="closePanels()"></div>

    <div class="up-content">
        <button class="filter" (click)="openFilter()">გაფილტვრა</button>
        <p class="catalog-title">კატალოგი</p>
        <button class="sort" (click)="openSort()">დასორტირება</button>
    </div>


    <div class="up-content-mobile">
        <p class="catalog-title">კატალოგი</p>
        <div class="buttons">
            <button class="filter" (click)="openFilter()">გაფილტვრა</button>

            <button class="sort" (click)="openSort()">დასორტირება</button>
        </div>
    </div>

    <div class="side-panel left-panel" [class.active]="isFilterOpen">


        <button class="close-btn" (click)="closePanels()">×</button>
        <p class="filter-text">ფილტრი</p>

        <div class="accordions">
            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ფასი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div *ngFor="let price of priceRanges" class="price-choose">
                        <input type="radio" name="price" [value]="price" [(ngModel)]="selectedPriceRange"
                            [ngModelOptions]="{standalone: true}" id="{{price.label}}">
                        <label for="{{price.label}}">{{price.label}}</label>
                    </div>
                </div>

            </div>


            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ხელოვნების ფორმა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose" *ngFor="let type of types">
                        <input type="checkbox" [value]="type.value" (change)="onTypeChange($event)"
                            [checked]="selectedTypes.includes(type.value)" id="{{type.value}}" />
                        <label for="{{type.value}}">{{type.label}}</label>
                    </div>
                </div>

            </div>



            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ხელოვნების სტილი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose" *ngFor="let style of styles">
                        <input type="checkbox" [value]="style.value" (change)="onStyleChange($event)"
                            [checked]="selectedStyles.includes(style.value)" id="{{style.value}}" />
                        <label for="{{style.value}}">{{style.label}}</label>
                    </div>



                </div>
            </div>

            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">მატერიალი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">

                    <div class="price-choose" *ngFor="let material of materials">
                        <input type="checkbox" [value]="material.value" (change)="onMaterialChange($event)"
                            [checked]="selectedStyles.includes(material.value)" id="{{material.value}}" />
                        <label for="{{material.value}}">{{material.label}}</label>
                    </div>








                </div>
            </div>







            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ზომა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose" *ngFor="let size of sizes">
                        <input type="checkbox" [value]="size.label" (change)="onSizeChange($event)"
                            [checked]="selectedSizes.includes(size.label)" id="{{size.label}}" />
                        <label for="{{size.label}}">{{size.label}}</label>
                    </div>
                </div>

            </div>








            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ფერი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content-colors">
                    <div *ngFor="let colorId of getColorIds()" class="color-box"
                        [class.active]="selectedColors.has(colorId)" (click)="toggleColor(colorId)">
                        <div [class]="'color-' + colorMap[colorId]"></div>
                        <p>{{ colorLabels[colorId] }}</p>
                    </div>
                </div>

            </div>




            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">თემა</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose" *ngFor="let theme of themes">
                        <input type="checkbox" [value]="theme.value" (change)="onThemeChange($event)"
                            [checked]="selectedStyles.includes(theme.value)" id="{{theme.value}}" />
                        <label for="{{theme.value}}">{{theme.label}}</label>
                    </div>




                </div>
            </div>









            <div class="accordion-item">
                <div class="accordion-title">
                    <span class="title-text">ფორმატი</span>
                    <svg class="w-4 h-4" viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L16 14L30 2" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="accordion-content">
                    <div class="price-choose" *ngFor="let format of formats">
                        <input type="checkbox" [value]="format.value" (change)="onFormatChange($event)"
                            [checked]="selectedStyles.includes(format.value)" id="{{format.value}}" />
                        <label for="{{format.value}}">{{format.label}}</label>
                    </div>







                </div>
            </div>
            <div class="filtering-buttons">
                <button (click)=" closePanels(); filter()">გაფილტვრა</button>
                <button (click)=" closePanels(); unfilter() ">გასუფთავება</button>
            </div>
        </div>

    </div>

    <div class="side-panel right-panel" [class.active]="isSortOpen">
        <button class="close-btn" (click)="closePanels()">×</button>
        <p class="sort-text">სორტირება</p>
        <div class="line"></div>
        <div class="sorts">
            <p (click)="originalProducts()" class="sort-types">ორიგინალი</p>
            <p (click)="priceUp()" class="sort-types">ჯერ მაღალი ფასი</p>
            <p (click)="priceDown()" class="sort-types">ჯერ დაბალი ფასი</p>
            <p (click)="News()" class="sort-types">ახლები</p>
        </div>
    </div>







    <div class="product-section" *ngIf="products.length > 0">
        <div [routerLink]="['/product', art.id]" *ngFor="let art of products" class="product-card">
            <img [src]="art.image" alt="{{art.title}}" />
            <div class="product-info">
                <p class="name">{{ art.title }}</p>
                <p class="arter">{{ art.artist_name }}</p>
                <p class="size">{{ art.height_cm }} x {{ art.width_cm }} CM</p>
                <p class="theme">{{ art.material }}</p>
                <p class="price">{{ art.price }} {{ art.currency }}</p>
            </div>
        </div>
    </div>



    <div *ngIf="products.length === 0 && isAnyFilterActive()" class="noproductsFound">
        <p>No Products Found with such filtering</p>
    </div>

    <div class="pagination">
        <button *ngIf="currentPage > 1" class="prevPage" (click)="firstPage()" [disabled]="currentPage === 1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M13.5801 5L20.5801 12L13.5801 19M5.58008 5L12.5801 12L5.58008 19" stroke="#F39C4F"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>

        <button *ngIf="currentPage > 1" class="prevPage" (click)="prevPage()" [disabled]="currentPage === 1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M9.28027 5L16.2803 12L9.28027 19" stroke="#F39C4F" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>

        <div class="pageNumbers">
            <button *ngFor="let page of getDisplayedPages()" class="pageNumber" (click)="handlePageClick(page)"
                [class.active]="page === currentPage" [disabled]="page === '...'">
                {{ page }}
            </button>
        </div>


        <button class="nextPage" (click)="nextPage()" [disabled]="currentPage === totalPages">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M9.28027 5L16.2803 12L9.28027 19" stroke="#F39C4F" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>
        </button>


        <button class="nextPage" (click)="lastPage()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M13.5801 5L20.5801 12L13.5801 19M5.58008 5L12.5801 12L5.58008 19" stroke="#F39C4F"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>

    </div>






    <div class="last-texts">
        <p>Plankton.ge — აქტრუალური და თანამედროვე ხელოვნების ონლაინ გალერეა</p>
        <p>ონლაინ გალერეა plankton-ის კატალოგში შეგიძლიათ აირჩიოთ და შეიძინოთ სხვადასხვა მიმართულების მხატვრების
            ნახატები, გრაფიკა, ქანდაკებები, ხელოვნების ობიექტები, ფოტოები და სხვა ხელოვნების ნიმუშები: რეალიზმიდან
            პოპ-არტით, იმპრესიონიზმიდან თანამედროვე ტენდენციებამდე. ჩვენი კურატორები დაგეხმარებიან თქვენი კოლექციისთვის
            ახალი ნამუშევრების პოვნაში ან ინტერიერისთვის ნახატების შერჩევაში. ჩვენ ვთანამშრომლობთ როგორც ახალგაზრდა
            პერსპექტიულ ავტორებთან, ასევე ცნობილ მხატვრებთან, რომელთა ნამუშევრებიც კერძო კოლექციებსა და მუზეუმებშია
            წარმოდგენილი.</p>
    </div>
</section>