<section class="arter-section">

    <div (click)="goBack()" class="left">
        <div class="arrow"> <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16"
                fill="none">
                <path d="M7 1L1 8L7 15" stroke="black" stroke-opacity="0.6" stroke-linecap="round"></path>
            </svg></div>
        <p>უკან</p>
    </div>



    <div class="arterContent">
        <img [src]="artistInfo.profile_image" alt="">
        <div>
            <p class="name">{{artistInfo.name}}</p>
            <p class="descritpion">{{artistInfo.bio}}</p>
        </div>
    </div>

    <p class="portfolio">პორტფოლიო</p>




    <div class="each-card">



        <div class="small-images">

            <div [routerLink]="['/product', artistsWokrs.id]"  *ngFor="let artistsWokrs of artistInfo.works" class="smallImage1">
                <img [src]="artistsWokrs.image"
                    alt="">
                <div class="product-text">
                    <p class="art-name">{{artistsWokrs.title}}</p>
                    <p class="author">{{artistInfo.name}}</p>
                    <p class="theme">{{artistsWokrs.material}}</p>
                    <p class="priceSmall">{{artistsWokrs.price}}$</p>
                </div>
            </div>

        </div>
    </div>



</section>